/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  background-image: var(--background-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  gap: 95px;
}

.header {
  width: var(--card-width);
  min-height: 368px;
  background-color: var(--card-background-color);
  margin: 97px auto;
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  padding: var(--header-vertical-padding) var(--header-horizontal-padding);
  text-align: center;
  border: 2px solid var(--card-color);
}

.hero {
  font-size: var(--logo-size);
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: var(--title-size);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 51px;
  justify-items: center;
}

.card {
  width: var(--card-width);
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--card-background-color);
  border: 2px solid var(--card-color);
  overflow: hidden;
  position: relative;
}


.card-title {
  padding: 5px 10px;
  font-size: 18px;
}

.card-image {
  aspect-ratio: 1 / 1;
  object-position: calc(100% + 13px) 3px;
  width: 100%;
  height: auto;
  object-fit: cover;
  scale: 1.01;
}

.card-image-container::before {
  content: "</HTML>";
  position: absolute;
  top: 55px;
  right: 25px;
  background-color: transparent;
  color: rgba(var(--card-color-rgb), 0.5);
  z-index: 1;
  font-size: 14px;
  font-family: var(--accent-font-family);
  text-shadow:
  -1px 0 rgba(var(--card-background-color-rgb), 0.5),
  0 1px rgba(var(--card-background-color-rgb), 0.5),
  1px 0 rgba(var(--card-background-color-rgb), 0.5),
  0 -1px rgba(var(--card-background-color-rgb), 0.5);
}



.card-text {
  font-size: 18px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 26px;
  padding-bottom: 0;
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 23px 25px;
  background-color: var(--card-background-color);
}

.heart-button {
  padding-right: 8px;
  justify-self: right;
  width: fit-content;
  display: inline-block;
  border: none;
  background-color: var(--card-background-color);
}

.heart {
  width: 36px;
}

.like {
  width: 130px;
  border: 2px solid var(--card-color);
  background-color: var(--card-background-color);
  font-family: var(--accent-font-family, sans-serif);
  font-weight: var(--main-font-weight);
  line-height: 0.9;
  letter-spacing: 0;
  padding: 0;
  font-size: 14px;
}

.footer {
  width: var(--card-width);
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__button {
  background-color: var(--card-background-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  padding: 15px 20px;
  line-height: 0.9;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.footer__button__image {
  width: 21px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  height: 191px;
  width: 384.5px;
  padding: 28px 30px;
  gap: 30px;
  font-family: var(--accent-font-family);
  font-size: 14px;
}

.dialog__header {
  display: flex;
  gap: 17px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__header_icon {
  width: 39px;
  height: auto;
  flex-shrink: 0;
}

.dialog__header_text {
  padding-inline-end: 25px;
}

.dialog__button {
  padding: 9px 17px;
  background-color: var(--card-background-color);
}

.dialog[open]::backdrop {
  backdrop-filter: brightness(0.25);
}

.filter-twice-bright {
  filter: brightness(200%);
}

.filter-half-bright {
  filter: brightness(50%);
}

.filter-low-contrast {
  filter: contrast(20%);
}

.filter-high-contrast {
  filter: contrast(160%);
}

.filter-blur {
  filter: blur(3.2rem);
}

.filter-transparent {
  filter: opacity(0.7);
}

.filter-grey {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(130%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-hue-rotate-low-contrast {
  filter: hue-rotate(-90deg) contrast(20%);
}

@supports (font-variation-settings: 'wght' 410) {

  .page {
    font-variation-settings: 'wght' var(--main-font-weight);
  }

  .card-title {
    font-variation-settings: 'wght' var(--title-font-weight);
  }

  .card-text {
    font-variation-settings: 'wght' var(--main-font-weight);
  }
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {

  .card-image-container::before {
    text-shadow: none;
    -webkit-text-stroke: 1px rgb(var(--card-background-color-rgb), 0.5);
    text-stroke: 1px rgb(var(--card-background-color-rgb), 0.5);
  }

}

@media (width <= 375.2px) {

  :root {
    --card-width: 375px;
  }

  .header {
    margin: 100px 0;
    width: 375px;
  }
}
