/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  background-image: var(--background-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  gap: 95px;
}

.header {
  width: var(--card-width);
  min-height: 368px;
  background-color: var(--card-background-color);
  margin: 100px auto 0;
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  padding: 130px 0;
  text-align: center;
  border: 2px solid var(--card-color);
}

.hero {
  font-size: 65px;
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 23px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 51px;
  justify-items: center;
}

.card {
  width: var(--card-width);
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--card-background-color);
  border: 2px solid var(--card-color);
  overflow: hidden;
}

.card-title {
  padding: 5px 10px;
  font-size: 18px;
}

.card-image {
  aspect-ratio: 1 / 1;
  object-position: calc(100% + 13px) 3px;
  width: 100%;
  height: auto;
  object-fit: cover;
  scale: 1.01;
}

.card-text {
  font-size: 18px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 26px;
  padding-bottom: 0;
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 23px 25px;
  background-color: var(--card-background-color);
}

.heart-button {
  padding-right: 8px;
  justify-self: right;
  width: fit-content;
  display: inline-block;
  border: none;
  background-color: var(--card-background-color);
}

.heart {
  width: 36px;
}

.like {
  width: 130px;
  border: 2px solid var(--card-color);
  background-color: var(--card-background-color);
  font-family: var(--accent-font-family, sans-serif);
  font-weight: var(--main-font-weight);
  line-height: 0.9;
  letter-spacing: 0;
  padding: 0;
  font-size: 14px;
}

@supports (font-variation-settings: 'wght' 410) {

  .page {
    font-variation-settings: 'wght' var(--main-font-weight);
  }

  .card-title {
    font-variation-settings: 'wght' var(--title-font-weight);
  }

  .card-text {
    font-variation-settings: 'wght' var(--main-font-weight);
  }
}
