/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  background-image: var(--background-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
}

.header {
  width: var(--card-width);
  min-height: 368px;
  background-color: #fff;
  margin: 100px auto;
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  padding: 130px 0;
  text-align: center;
  border: 2px solid #000;
}

.hero {
  font-size: 65px;
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 23px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  justify-items: center;
}

.card {
  width: var(--card-width);
  display: grid;
  grid-template-columns: 1fr;
}

.card-title {
  
}

@supports (font-variation-settings: 'wght' 410) {

  .page {
    font-variation-settings: 'wght' var(--main-font-weight);
  }
}
