/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  background-image: var(--background-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  gap: 95px;
}

.header {
  width: var(--card-width);
  min-height: clamp(327px, 312.56px + 3.85vw, 368px);
  background-color: var(--card-background-color);
  margin: 97px auto;
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  padding: var(--header-vertical-padding) var(--header-horizontal-padding);
  text-align: center;
  border: 2px solid var(--card-color);
}

.hero {
  font-size: var(--logo-size);
  margin-bottom: 18px;
}

.hero__subtitle {
  font-size: var(--title-size);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, min-content);
  gap: 49px;
  justify-items: center;
}

.card {
  width: var(--card-width);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  background-color: var(--card-background-color);
  border: 2px solid var(--card-color);
  overflow: hidden;
  position: relative;
}

.card-title {
  padding: 4px 10px;
  font-size: 18px;
}

.card-image {
  aspect-ratio: 1 / 1;
  object-position: calc(100% + 13px) 3px;
  width: 100%;
  height: auto;
  object-fit: cover;
  scale: 1.01;
}

.card-image-container {
  position: relative;
  width: 100%;
}

.card-image-container__text {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  color: rgba(var(--card-color-rgb), 0.5);
  z-index: 1;
  font-size: 14px;
  font-family: var(--accent-font-family);
  text-shadow:
    -1px 0 rgba(var(--card-background-color-rgb), 0.5),
    0 1px rgba(var(--card-background-color-rgb), 0.5),
    1px 0 rgba(var(--card-background-color-rgb), 0.5),
    0 -1px rgba(var(--card-background-color-rgb), 0.5);
  mix-blend-mode: hard-light;
}

.card-text {
  font-size: 18px;
  padding: 24px 25px 1px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
  line-height: 21px;
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 21px 23px;
  background-color: var(--card-background-color);
}

.heart-button {
  margin-top: 3px;
  padding-right: 8px;
  justify-self: right;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  border: none;
  background-color: var(--card-background-color);
}

.card__icon-button {
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.contour {
  transition: fill 0.1s linear;
  fill: var(--heart-contour-color);
}

.main-body {
  fill: var(--heart-main-body-color);
}

.core {
  transition-delay: 0.03s;
  fill: var(--heart-core-color);
}

.like-icon {
  width: 39px;
  outline-offset: 2px;
  transition:
    outline 0.3s ease,
    outline-offset 0.3s ease;
  outline: 2px solid transparent;
}

.like-icon:hover {
  --heart-core-color: var(--accent-color);
  --heart-main-body-color: var(--accent-color);
}

.like-icon:active {
  --heart-core-color: var(--animation-fill-color);
  --heart-main-body-color: var(--animation-fill-color);
}

.like-icon .main-body {
  transition: fill 0.3s linear 0s;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  transition: fill 0.3s linear 0.05s;
}


.like-icon:active .core {
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  transition: fill 0.3s linear 0.05s;
}


.like-icon.is-liked {
  --heart-core-color: var(--animation-fill-color);
  --heart-main-body-color: var(--animation-fill-color);
  --heart-contour-color: var(--animation-fill-color);
  animation:
    0.3s ease-in 0.1s 1 normal both running heart,
    0.3s ease-in 0.3s 1 normal both running sparks-fade;
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
}

.sparks {
  color: var(--animation-fill-color);
  background-color: var(--animation-fill-color);
  opacity: var(--sparks-opacity);
}

.like {
  width: 130px;
  padding: 0;
  max-block-size: 36px;
  top: 4px;
  right: 2px;
}

.footer {
  width: var(--card-width);
  padding: 50px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -49px;
  border: none;
}

.footer__button {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.footer__button__image {
  display: relative;
  width: 21px;
  color: var(--card-background-color);
  mix-blend-mode: difference;
  z-index: 2;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  width: 384.5px;
  padding: 28px 30px;
  gap: 30px;
  font-family: var(--accent-font-family);
  font-size: 14px;
}

.dialog__header {
  display: flex;
  gap: 17px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__header_icon {
  width: 39px;
  height: auto;
  flex-shrink: 0;
}

.dialog__header_text {
  padding-inline-end: 25px;
}

.button {
  font-family: var(--accent-font-family, sans-serif);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  border: 2px solid var(--card-color);
  line-height: 0.9;
  letter-spacing: 0;
  position: relative;
  isolation: isolate;
  background-color: var(--card-background-color);
  color: var(--card-color);
  transition: box-shadow 0.3s ease;
}

.button:focus-visible,
.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--card-background-color);
  mix-blend-mode: difference;
}

.button__text_uppercase {
  text-transform: uppercase;
}

.dialog__button {
  padding: 9px 17px;
  background-color: var(--card-background-color);
}

.dialog[open]::backdrop {
  backdrop-filter: brightness(0.25);
}

.filter-twice-bright {
  filter: brightness(200%);
}

.filter-low-contrast {
  filter: contrast(20%) drop-shadow(16px 16px 20px red);
}

.filter-blur {
  filter: blur(3.2rem);
}

.filter-transparent {
  filter: opacity(0.7);
}

.filter-grey {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(130%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

@supports (font-variation-settings: 'wght' 410) {

  .page {
    font-variation-settings: 'wght' var(--main-font-weight);
  }

  .card-title {
    font-variation-settings: 'wght' var(--title-font-weight);
  }

  .card-text {
    font-variation-settings: 'wght' var(--main-font-weight);
  }
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {

  .card-image-container__text {
    text-shadow: none;
    -webkit-text-stroke: 1px rgb(var(--card-background-color-rgb), 0.5);
    text-stroke: 1px rgb(var(--card-background-color-rgb), 0.5);
  }
}

@media (width <= 375.2px) {

  :root {
    --card-width: 375px;
  }

  .header {
    margin: 100px 0;
    width: 375px;
  }

  .footer__button {
    flex-direction: column;
  }

  .footer__button__image {
    width: 28px;
  }
}
