/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: 'Inter';
  --accent-font-family: 'PressStart2P';
  --main-font-weight: 410;
  --title-font-weight: 715;
  --accent-color: #000;
  --background-color:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --card-width: clamp(375px, 260.56px + 30.52vw, 700px);
  --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-vertical-padding: clamp(122px, 119.18px + 0.75vw, 130px);
  --header-horizontal-padding: clamp(16px, -21.5px + 10vw, 122.5px);
  --card-background-color: #fff;
  --card-color: #000;
  --card-color-rgb: 0, 0, 0;
  --card-background-color-rgb: 255, 255, 255;
  --heart-contour-color: #000;
  --animation-fill-color: red;
  --contour-color: var(--animation-fill-color);
  --sparks-color: var(--animation-fill-color);
  --sparks-opacity: 0;
  --heart-core-color: transparent;
  --heart-main-body-color: transparent;
}
