/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: 'Inter';
  --accent-font-family: 'PressStart2P';
  --main-font-weight: 410;
  --title-font-weight: 715;
  --background-color:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --card-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-vertical-padding: clamp(7.625rem, 0.751vw + 7.449rem, 8.125rem);
  --header-horizontal-padding: clamp(1rem, 9.953vw - 1.333rem, 7.625rem);
  --card-background-color: #fff;
  --card-color: #000;
}
